/Coffee.DeviceAccess/obj
/Coffee.DeviceAccess/bin
/Coffee.DigitalPlatform/bin
/Coffee.DigitalPlatform/obj
/Coffee.DigitalPlatform.Assets/obj
/Coffee.DigitalPlatform.Assets/bin
/Coffee.DigitalPlatform.Common/bin
/Coffee.DigitalPlatform.Common/obj
/Coffee.DigitalPlatform.CommWPF/obj
/Coffee.DigitalPlatform.CommWPF/bin
/Coffee.DigitalPlatform.Components/bin
/Coffee.DigitalPlatform.Components/obj
/Coffee.DigitalPlatform.DataAccess/bin
/Coffee.DigitalPlatform.DataAccess/obj
/Coffee.DigitalPlatform.Entities/bin
/Coffee.DigitalPlatform.Entities/obj
/Coffee.DigitalPlatform.IDataAccess/bin
/Coffee.DigitalPlatform.IDataAccess/obj
/Coffee.DigitalPlatform.Models/bin
/Coffee.DigitalPlatform.Models/obj
/Coffee.DigitalPlatform.ViewModels/bin
/Coffee.DigitalPlatform.ViewModels/obj
/Coffee.DigitalPlatform.Views/bin
/Coffee.DigitalPlatform.Views/obj
/Coffee.DigitalService/bin
/Coffee.DigitalService/obj
/.vs
/Coffee.DigitalPlatform.Controls/bin
/Coffee.DigitalPlatform.Controls/obj
